body{
    display: flex;
    flex-direction: column;
    height:95vh;
}
header,footer{
    /* flex:1; */
}
#wrapper{
    display:flex;
    flex-direction: row;
    flex-grow: 1;
    padding:5px 20px;
}
#wrapper>*:nth-child(1){
    display:flex;
    flex-grow:1;
}

footer{
    text-align: center;
}

.header_dot{

}

.header_js{

}

form{
    text-align:center;
}

.flex-cols{
    display:flex;
    justify-content: space-between;
    text-align:center;
}

.flex-cols>*{
    text-align:center;
}

.input-small-nud{
    width:50px;
}
.input-big-nud{
    width:90px;
}

#js-is-loaded{
    background-color: skyblue;
    color:tomato;
    text-align:center;
}

#thumbnail{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height:70vh;
    overflow-y:scroll;
}
#thumbnail>.meme-thumbnail{
    width:32%;
    height:200px;
    padding:5px;
}
#thumbnail>.meme-thumbnail>*{
    display:flex;
    max-height:170px;
    max-width:190px;
}